textarea {
    height: 80%;
    resize: none;
}

#buttons > button {
    text-align: center;
    height: 40px;
    width: 120px;
}

#buttons > button:nth-child(1) {
    background-color: #83E1E5;
}

#buttons > button:nth-child(2) {
    background-color: #FDDF7F;
}

#login-wrap,
#form-wrap {
    width: 100%;
    background-color: white;
    padding: 2em;
}

#login-wrap > form,
#form-wrap > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    height: 60vh;
    margin: 0 auto;
}

#login-wrap > form > div,
#form-wrap > form > div {
    display: flex;
    gap: 0.5em;
}