#nav-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: absolute;
    top: 60px;
    width: 110px;
    background-color: white;
    padding: 0.5em;
    border: 2px solid lightgray;
    z-index: 2;
}

#nav-menu > button,
#nav-menu > a {
    transform: translate(0, 3px);
    text-align: center;
}